# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Problems/An expression with large numbers/out/
/Problems/An expression with large numbers/out/production/classes/
/Problems/Compression algorithm/out/
/Problems/Compression algorithm/out/production/classes/
/Problems/Concat all strings without digits/out/
/Problems/Concat all strings without digits/out/production/classes/
/Problems/Convert a date/out/
/Problems/Convert a date/out/production/classes/
/Problems/Cutting out the middle of a string/out/
/Problems/Cutting out the middle of a string/out/production/classes/
/Problems/Double characters/out/
/Problems/Double characters/out/production/classes/
/Problems/Find the first occurrence of the word  the/out/
/Problems/Find the first occurrence of the word  the/out/production/classes/
/Problems/Gaussian random numbers/out/
/Problems/Gaussian random numbers/out/production/classes/
/Problems/Generate random numbers/out/
/Problems/Generate random numbers/out/production/classes/
/Problems/Number of occurrences/out/
/Problems/Number of occurrences/out/production/classes/
/Problems/The percentage of G and C characters/out/
/Problems/The percentage of G and C characters/out/production/classes/
/Problems/The smallest value/out/
/Problems/The smallest value/out/production/classes/